flask
flask-cors
flask-jwt-extended
flask-sqlalchemy
flask-migrate
flask-mail
PyMySQL
bcrypt
python-dotenv
stripe
reportlab
Pillow
fuzzywuzzy
python-Levenshtein
requests
google-generativeai
marshmallow
flask-marshmallow
marshmallow-sqlalchemy
cloudinary
pytest
pytest-flask
gunicorn
cryptography
celery
redis
